<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <title>Blue Llama</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark">
        <a class="navbar-brand  bm-2 ntext-white" href="index.html"
          ><img src="../assets/images/image.jpg" width="200"
        /></a>
        <div
          class="navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav nav">
            <a class="nav-item nav-link active" id="home" href="index.html"
              >Home</a
            >
            <a class="nav-item nav-link" id="location" href="location.html"
              >Location</a
            >
            <a class="nav-item nav-link" id="retreats" href="retreats.html"
              >The Retreats</a
            >
            <a class="nav-item nav-link" id="book" href="booking.html"
              >Book Now</a
            >
            <a class="nav-item nav-link" id="signIn" href="signUp.html"
              >Sign-In/ Register</a
            >
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="form-group name">
        <label for="inputEmail">Name</label>
        <input
          type="text"
          class="form-control"
          id="firstNameInput lastNameInput"
          placeholder="Enter Name"
        />
      </div>
      <div class="form-group email">
        <label for="inputEmail">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group password">
        <label for="inputPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>

      <div>
        <button id="login" class="btn btn-primary btn-action mb-2">
          Already Registered? Log in
        </button>

        <button class="btn btn-primary btn-action mb-2" id="password-reset">
          send
        </button>

        <p class="mb-2 " id="forgot-password">
          Forgot your password?
        </p>
        <button id="signUp" class="btn btn-primary signup mb-2">
          Create an account
        </button>
        <!-- <button id="logOut" class="btn btn-primary btn-action d-none">
          Log Out
        </button> -->
      </div>
    </div>

    <script src="../../assets/javascript/signUp.js"></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
